.additional-content-wrapper {
    .main-heading {
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0%;
    }

    .text {
        color: var(--neutral-400);
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0%;
    }

    .image-wrapper {
        background-color: var(--orange-500);
    }

    .additional-decorator {
        background-color: var(--neutral-200);
    }
}