@import "tailwindcss";

* {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;

}

@media screen and (min-width: 1024px) {
    body {
        width: 70vw;
        margin: 0 auto;
    }
}